@tailwind base;
@tailwind components;
@tailwind utilities;

/* add themes and css variables here */
/* by convention foreground colors are for text colors */

@layer base {
  :root {
    /* Default background color of <body />...etc */
    --background: 0 0% 100%;
    --foreground: 0 0% 3.9%;
    /* Background color for <Card /> */
    --card: 0 0% 100%;
    --card-foreground: 0 0% 3.9%;
    /* Background color for popovers such as <DropdownMenu />,
      <HoverCard />,
      <Popover /> */
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 3.9%;
    /* Primary colors for <Button /> */
    /* --primary: 0 0% 9%; */
    --primary: 181 98% 26%;
    /* --primary-foreground: 0 0% 98%; */
    --primary-foreground: 0 0% 100%;
    /* Secondary colors for <Button /> */
    --secondary: 0 0% 96.1%;
    --secondary-foreground: 0 0% 9%;
    /* Muted backgrounds such as <TabsList />,
      <Skeleton />and <Switch /> */
    --muted: 0 0% 96.1%;
    --muted-foreground: 0 0% 45.1%;
    /* Used for accents such as hover effects on <DropdownMenuItem>,
      <SelectItem>...etc */
    --accent: 0 0% 96.1%;
    --accent-foreground: 0 0% 9%;
    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    /* Default border color */
    --border: 0 0% 89.8%;
    /* Border color for inputs such as <Input />,
      <Select />,
      <Textarea /> */
    --input: 0 0% 89.8%;
    /* Used for focus ring */
    --ring: 0 0% 3.9%;

    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    /* Border radius for card,
      input and buttons */
    --radius: 0.5rem;

    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent:  180, 23%, 83%;
    --sidebar-accent-foreground: 190, 53%, 40%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;

    /* custom theme variables */
    /* primary hex values */
    --primary-0:#F0FFFF;
    --primary-50:#D8F2F3;
    --primary-100:#C0E6E6;
    --primary-150:#A8D9DA;
    --primary-200:#90CDCE;
    --primary-300:#61B3B5;
    --primary-400:#319A9D;
    --primary-500:#018184;
    --primary-600:#01676A;
    --primary-700:#014D4F;
    --primary-800:#003435;
    --primary-850:#002728;
    --primary-900:#001A1A;
    --primary-1000:#000D0D;
    
    /* grey palette */

    --grey-0:#FFFFFF;
    --grey-50:#F7F7F7;
    --grey-100:#F0F0F0;
    --grey-150:#E8E8E8;
    --grey-200:#E0E0E0;
    --grey-300:#D1D1D1;
    --grey-400:#C1C1C1;
    --grey-500:#B2B2B2;
    --grey-600:#919191;
    --grey-700:#717171;
    --grey-800:#505050;
    --grey-850:#404040;
    --grey-900:#2F2F2F;
    --grey-950:#1e1e1e;
    --grey-1000:#0F0F0F;

    /* background palette */
    --background-1:#F3F6EE;
    --background-2:#CFDDBC;
    --background-3:#CBD8CE;
    --background-4:#014D4F;

    /* accent color */
    --accent-0:#F9D04A;
  }

  .dark {
    /* Default background color of <body />...etc */
    --background: 0 0% 3.9%;
    --foreground: 0 0% 98%;
    /* Background color for <Card /> */
    --card: 0 0% 3.9%;
    --card-foreground: 0 0% 98%;
    /* Background color for popovers such as <DropdownMenu />,
            <HoverCard />,
            <Popover /> */
    --popover: 0 0% 3.9%;
    --popover-foreground: 0 0% 98%;
    /* Primary colors for <Button /> */
    --primary: 0 0% 98%;
    --primary-foreground: 0 0% 9%;
    /* Secondary colors for <Button /> */
    --secondary: 0 0% 14.9%;
    --secondary-foreground: 0 0% 98%;
    /* Muted backgrounds such as <TabsList />,
              <Skeleton />and <Switch /> */
    --muted: 0 0% 14.9%;
    --muted-foreground: 0 0% 63.9%;
    /* Used for accents such as hover effects on <DropdownMenuItem>,
              <SelectItem>...etc */
    --accent: 0 0% 14.9%;
    --accent-foreground: 0 0% 98%;
    /* Used for destructive actions such as <Button variant="destructive"> */
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    /* Default border color */
    --border: 0 0% 14.9%;
    /* Border color for inputs such as <Input />,
              <Select />,
              <Textarea /> */
    --input: 0 0% 14.9%;
    /* Used for focus ring */
    --ring: 0 0% 83.1%;

    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground;
  }
}

@layer components {
  .\[\&\>svg\]\:size-4>svg {
    width: 1rem;
    height: 1rem;
  }
  
  .\[\&\>svg\]\:size-6>svg {
    width: 1.25rem;
    height: 1.25rem;
  }
}

@font-face {
  font-family: 'lato';
  src: url('../assets/fonts/Lato-Regular.ttf');
}

@font-face {
  font-family: 'merriweather';
  src: url('../assets/fonts/Merriweather-Regular.ttf');
}